@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

:root {
  --text-size: medium;
}

body {
  font-size: var(--text-size);
}
